extends _layouts/base

block content
    include _modules/header/header

//- block content
//-     include _modules/header/header
//-     include _modules/teaser-list/teaser-list
//-     include _modules/footer/footer
