footer.footer

    .footer__transition

    .footer__social-media
        .footer__social-media--link
            a(href='https://github.com/r-wettstaedt' target='_blank' data-ga='Social Media#Click#Github')
                include ../../_images/github.svg
        .footer__social-media--link
            a(href='mailto:robert.wett@gmail.com' data-ga='Social Media#Click#Email')
                include ../../_images/email.svg
        .footer__social-media--link
            a(href='https://linkedin.com/in/robert-wettst%C3%A4dt-676346a3?' target='_blank' data-ga='Social Media#Click#LinkedIn')
                include ../../_images/linkedin.svg


script(async src='http://r-wettstaedt.com/scripts/base.js')
