.header.header--left(itemscope itemtype='http://schema.org/Person')
    .header__overlay
        h1.header__caption Robert Wettstädt

    .header__container
        .row
            h3.header__person-item.col-xs-12(itemprop='jobTitle') Student
            h3.header__person-item.col-xs-12(itemprop='jobTitle') Web Developer
            h3.header__person-item.col-xs-12(itemprop='jobTitle') JavaScript Enthusiast
            h5.header__person-item.col-xs-12(itemprop='name') Robert Wettstädt

            .footer__so-me
                .col-xs-3
                    a.footer__so-me--link(href='https://github.com/r-wettstaedt' target='_blank')
                        include ../../_images/github.svg
                .col-xs-3
                    a.footer__so-me--link(href='mailto:robert.wett@gmail.com')
                        include ../../_images/email.svg
                .col-xs-3
                    a.footer__so-me--link(href='https://linkedin.com/in/robert-wettst%C3%A4dt-676346a3?' target='_blank')
                        include ../../_images/linkedin.svg
                .col-xs-3
                    a.footer__so-me--link(href='https://www.instagram.com/r_wettstaedt/' target='_blank')
                        include ../../_images/instagram.svg

.header.header--right
    .header__overlay
        h2.header__caption Works

    .header__controls
        span.glyph.glyph-arrow-up(animocons='arrow-up')
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='512px' height='512px' viewBox='0 0 512 512' zoomAndPan='disable' preserveAspectRatio='none')
                circle(r='255' cx='256' cy='256' fill='#db5156')
                line(x1='128' y1='320' x2='272' y2='192' stroke='#fff' stroke-width='48')
                line(x1='384' y1='320' x2='240' y2='192' stroke='#fff' stroke-width='48')

        span.glyph.glyph-arrow-down(animocons='arrow-down')
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='512px' height='512px' viewBox='0 0 512 512' zoomAndPan='disable' preserveAspectRatio='none')
                circle(r='255' cx='256' cy='256' fill='#db5156')

                line(x1='128' y1='192' x2='272' y2='320' stroke='#fff' stroke-width='48')
                line(x1='384' y1='192' x2='240' y2='320' stroke='#fff' stroke-width='48')

    .header__container.header__container--slider(style='height: #{data.length * 100}%;')
        each item in data
            include ../teaser/teaser

